<head>
  <title>Local Library Home</title>
</head>


<div class="col-sm-2">
  <ul class="sidebar-nav">
    <li> <a routerLink="/home" href="/catalog">Home</a>
    </li>
    <li> <a href="/book-instance">All books</a></li>
    <li> <a href="/author-instance">All authors</a></li>
    <li> <a href="/genre-instance">All genres</a></li>
    <li> <a href="/all-book-instance">All book-instances</a></li>
    <li> <hr></li>
    <li> <a href="/author">Create new author</a></li>
    <li> <a href="/genre">Create new genre</a></li>
    <li> <a href="/book">Create new book</a></li>
    <li> <a href="/book-instance">Create new book instance (copy)</a></li>
    </ul>
    </div>



